name: Google Maps Lead Scraper
runtime: python
pythonVersion: 3.11

services:
  - type: web
    name: api
    runtime: python
    startCommand: gunicorn app:app
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: false